@font-face {
	font-family: NanumBrushScript;
	src: url("../public/fonts/NanumBrushScript-Regular.ttf");
}

* {
	font-family: NanumBrushScript !important;
	font-size: 24px;
	font-weight: 800;
	box-sizing: border-box;
  text-align: center;
}


.grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
	grid-gap: 0px;
	padding: 5px;
}

.show-grid {
	border: 1px solid #9bba5a !important;
}

.cell {
	background-color: #9bba5a;
	padding: 10px 10px;
	box-shadow: inset 0 0 60px rgba(48,80,0,0.3);
	border: 1px solid #859f4d;
}

.snake {
	background-color: #216723 !important;
}

.food {
	background-image: url("../public/images/apple.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}

.dead {
	background-color: #666666 !important;
}